extends layout

block content
  img(src='#{user.profile_pic}')
  h1 #{user.firstName} #{user.lastName}
  if user.is_self
    if user.last_login
      p You last logged on #{user.last_login.toLocaleDateString()}
    button.stub.btn(type='button')
      span Settings
  else
    if logged_in_user
      if user.followed
        button.user-actions-unfollow-button.js-unfollow-btn.unfollow-button.btn(type='button', data='#{user._id}')
          span.button-text.unfollow-text.unfollow-button Unfollow
      else
        button.user-actions-follow-button.js-follow-btn.follow-button.btn(type='button', data='#{user._id}')
          span.button-text.follow-text.follow-button Follow
  ul
    li Chirps: #{user.chirpCount}
    li followers:
        a(href='/users/#{user.username}/#/followers') #{user.followers.length}
    li following:
        a(href='/users/#{user.username}/#/following') #{user.following.length}

block scripts
  script(src='/js/user.js')
